<mat-card id="toolbar-card">
  <mat-toolbar class="text-center">
    Dicom Viewer with Cornerstonejs
    <!-- <button mat-button><img src="assets/github.svg" style="width: 20px;"> GitHub</button> -->
  </mat-toolbar>
</mat-card>

<div id="dicomWrapper"
  class='disable-selection noIbar'
  unselectable='on'
  onselectstart='return false;'
  onmousedown='return false;'>
  
  <div cornerstone
       [image]="imageData" 
       (headersUpdated)="updateHeaders($event)"
       id="dicomImage"
       
       style="object-fit: cover;">

    <div *ngIf='imageData'> 
      <!-- top left -->
      <p class="headers" style="top: 0; left: 10px;">Patient Name: {{imageHeaders['patientName']}}</p>
      <p class="headers" style="top: 25px; left: 10px;">Study Date: {{imageHeaders['studyDate']}}</p>
      <p class="headers" style="top: 50px; left: 10px;">Age: {{imageHeaders['patientAge']}}</p>

      <!-- top right -->
      <p class="headers" style="top: 0; right: 10px;">Physician Name: {{imageHeaders['physicianName']}}</p>
      <p class="headers" style="top: 25px; right: 10px;">Institution: {{imageHeaders['institution​Name']}}</p>

      <!-- bottom left -->
      <p class="headers" style="bottom: 20px; left: 10px;">WW/WC: {{imageData.windowWidth}} / {{imageData.windowCenter}}</p>
      <p class="headers" style="bottom: 0; left: 10px;">Body Part: {{imageHeaders['bodyPartExamined']}}</p>

      <!-- bottom right -->
      <p class="headers" style="bottom: 0; right: 10px;">Image {{imageHeaders['currentImage']}} / {{imageHeaders['allImages']}}</p>
     </div>
  </div>

</div>
